# In this notebook example, we will give a brief overview of SQLite.
#### SQLite emphasizes economy, efficiency, reliability, independence, and simplicity. 
#### SQLite does not compete with client/server databases

### 1. SQLite is built-in as a Python library (not even pip install required)
### 2. Don’t need to install any server-side/client-side software
### 3. Don’t need to keep something running as a service
___
___

# import packages

In [ ]:
import sqlite3

# establish a database connection
If the file already exists, the connect function will simply connect to that file.
Once we have a Connection, we can create a Cursor object and call its execute() method to perform SQL commands.

In [ ]:
# establish a database connection
conn = sqlite3.connect('tweet_example.db')

# the above command would create a database in the current working directory. If we want to specify a specific directory, we could write:
    conn = sqlite3.connect(r'PATH-TO-YOUR-DIRECTORY/tweet_example.db')

In [ ]:
# conn = sqlite3.connect(r'/Users/farhan/Downloads/CS491_SocialMediaComputing/orders.db')

Note: Notice that we included the letter “r” before the string that contains this path. 
This lets Python know that we’re working with a raw string, meaning that the “/” won’t 
be used to escape characters. More [link](https://docs.python.org/3/reference/lexical_analysis.html)

# in-Memory Databases
We can generate in memory databases using SQLite that will exist only in RAM, which is a great way to create database for test purposes.

    conn = sqlite3.connect(:memory:)

# creating a cursor object
Creating a cursor object allows us to execute SQL queries against the connected database.

In [ ]:
cur = conn.cursor()

# once we have created a cursor object, we can run SQL queries followingly:
    cur.execute("YOUR-SQL-QUERY-HERE;")

In [ ]:
sql_query = """CREATE TABLE IF NOT EXISTS user_info(
               userid BIGINT PRIMARY KEY,
               screen_name TEXT,
               created_at DATETIME,
               followers_count BIGINT,
               friends_count BIGINT);
            """
cur.execute(sql_query)
conn.commit()

# SQLite Data Types [link](https://www.tutorialspoint.com/sqlite/sqlite_data_types.htm)

![SQLite Data Types](sqlite_data_types.png)

# SQLite Date and Time Datatype

![SQLite Date and Time Datatypes](sqlite_date_style.png)

# insert data

In [ ]:
insert_query = """INSERT INTO user_info(userid, screen_name, created_at, followers_count, friends_count) 
   VALUES(00001, 'Cristiano', '2010-11-22 10:23:12.123', 123452324, 232);"""
cur.execute(insert_query)
conn.commit()

# insert data from a variable

In [ ]:
user_info_value = (12002, 'Messi', '2020-11-22 10:23:12.123', 12, 2)
cur.execute("INSERT INTO user_info VALUES(?, ?, ?, ?, ?);", user_info_value)
conn.commit()

# insert multiple entries at a time

In [ ]:
user_info_value_list = [(13002, 'Roonie', '2012-10-22 10:23:12.123', 232312, 342), 
                        (13003, 'Rivaldo', '2013-10-22 10:33:12.333', 4325, 3231)]
cur.executemany("INSERT INTO user_info VALUES(?, ?, ?, ?, ?);", user_info_value_list)
conn.commit()

# We can do multiple cur.execut() before doing conn.commit()
    cur.execute('query')
    cur.execute('query')
    cur.execute('query')
    conn.commit()

# fetch results from the database (a single entry)

In [ ]:
cur.execute("SELECT * FROM user_info;")
one_result = cur.fetchone()
print(one_result)

# fetch multiple results from the database

In [ ]:
cur.execute("SELECT * FROM user_info;")
three_results = cur.fetchmany(3)
print(three_results)

# fetch all the rows/entries from the database

In [ ]:
cur.execute("SELECT * FROM user_info;")
all_results = cur.fetchall()
print(all_results)

# mention specific columns to fetch

In [ ]:
cur.execute("SELECT userid, created_at, followers_count FROM user_info;")
all_results_selected_columns = cur.fetchall()
print(all_results_selected_columns)

# filter and extract data from the database

In [ ]:
cur.execute("select * FROM user_info WHERE userid=12002;")
filtered_result = cur.fetchall()
print(filtered_result)

# delete data from the database

In [ ]:
cur.execute("DELETE FROM user_info WHERE userid=12002;")
conn.commit()

In [ ]:
cur.execute("SELECT * FROM user_info;")
all_results = cur.fetchall()
print(all_results)

# close the database conenction

In [ ]:
conn.close()