# import packages

In [46]:
import tweepy
import yaml
import json
import sqlite3
from datetime import datetime
import pandas as pd

# Read twitter Authentication Keys

In [47]:
# yaml file reader funtion
def read_yaml(file_path):
    with open(file_path, "r") as f:
        return yaml.safe_load(f)

# yaml config file path
file_path = "twitter_api_key_config.yaml"
# read from config file
api_credential = read_yaml(file_path)

# Create Twitter Authentication

In [48]:
# API authentication
auth = tweepy.OAuthHandler(api_credential["api_key"], \
                           api_credential["api_secret_token"])
auth.set_access_token(api_credential["access_token"], \
                      api_credential["access_token_secret"])
api = tweepy.API(auth, wait_on_rate_limit=True)

# Create the Database and Required Tables

In [49]:
# establish a database connection
conn = sqlite3.connect('tweet_example.db')
cur = conn.cursor()
create_tweet_info_table = """CREATE TABLE tweet_info(tweet_id BIGINT PRIMARY KEY, \
                                          user_id BIGINT, \
                                          tweet_lang TEXT, \
                                          tweet_time TEXT, \
                                          source TEXT, \
                                          tweet_text TEXT,\
                                          quote_count TEXT, \
                                          reply_count INT, \
                                          retweet_count INT,\
                                          tweet_favorite_count INT, \
                                          hashtags TEXT, \
                                          short_urls TEXT, \
                                          expanded_urls TEXT, \
                                          user_mentions TEXT);"""

create_user_info_table =  """CREATE TABLE user_info(user_id BIGINT PRIMARY KEY, \
                                          user_screen_name TEXT, \
                                          user_name TEXT, \
                                          user_language TEXT, \
                                          location TEXT, \
                                          profile_url TEXT, \
                                          description TEXT, \
                                          protected TEXT, \
                                          verified TEXT, \
                                          created_at TEXT, \
                                          friends_count BIGINT, \
                                          followers_count BIGINT,\
                                          favorites_count BIGINT, \
                                          statuses_count BIGINT);"""

cur.execute(create_tweet_info_table)
cur.execute(create_user_info_table)
conn.close()

# check if a table exists in the database

In [50]:
conn = sqlite3.connect('tweet_example.db')
cur = conn.cursor()

table_exist_query = ''' SELECT count(*) FROM sqlite_master WHERE type='table' AND name='tweet_info' '''
cur.execute(table_exist_query)
exist_result = cur.fetchone()

if exist_result[0]==1:
    print("tweet_info table exists.")
else:
    print("tweet_info table does not exist.")
conn.close()

tweet_info table exists.

# define a StreamListener Object

In [51]:
# override tweepy.StreamListener to add logic to on_status
class MyStreamListener(tweepy.StreamListener):
    def __init__(self, listen_time=60):
        super(MyStreamListener, self).__init__()
        self.counter = 0
        print("Initialized Tweepy StreamListener.")
        self.start_time = datetime.now()
        self.current_time = datetime.now()
        self.listen_time = listen_time
        self.unique_user_id_set = set([])
        # adding database connection code
        self.conn = sqlite3.connect('tweet_example.db')
        self.cur  = self.conn.cursor()
        
    def insert_data(self, data):
        tweet_object=json.loads(data) # convert "string-line" into json
        # check if json object has a key id. Otherwise continue to next.
        if 'id' in tweet_object.keys(): 
            
            # tweet object information
            tweet_id        = tweet_object['id']
            user_id         = tweet_object['user']['id']
            tweet_lang      = tweet_object['lang']
            tweet_time      = str(pd.to_datetime(tweet_object['created_at']))
            source          = tweet_object['source']
            tweet_text      = tweet_object['text']

            # tweet numeric information
            quote_count = tweet_object['quote_count']
            reply_count = tweet_object['reply_count']
            retweet_count = tweet_object['retweet_count']
            tweet_favorite_count = tweet_object['favorite_count']

            # meta-content information
            hashtags = [str(hashtag['text']) for hashtag in tweet_object['entities']['hashtags']]
            hashtags = ",".join(hashtags)
            short_urls = [str(url['url']) for url in tweet_object['entities']['urls']]
            short_urls = ",".join(short_urls)
            expanded_urls = []
            try:
                expanded_urls = [str(url['expanded_url']) for url in tweet_object['entities']['urls']]
            except:
                print('Error Message: No Expanded URL.')
            expanded_urls = ",".join(expanded_urls)

            # user interaction based informations    
            user_mentions = [str(user_mentions['id'])\
                        for user_mentions in tweet_object['entities']['user_mentions']]
            user_mentions = ",".join(user_mentions)

            tweet_info = (tweet_id, user_id, tweet_lang,\
                    tweet_time, source, tweet_text,\
                    quote_count, reply_count, retweet_count,\
                    tweet_favorite_count, hashtags, short_urls,\
                    expanded_urls, user_mentions)
            self.cur.execute("INSERT INTO tweet_info \
            VALUES(?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?);", tweet_info)
            
            # user profile information

            if user_id in self.unique_user_id_set:
                pass
            else:
                self.unique_user_id_set.add(user_id)
                
                user_screen_name      = tweet_object['user']['screen_name']
                user_name             = tweet_object['user']['name']
                user_language         = tweet_object['user']['lang']  
                location              = tweet_object['user']['location']
                profile_url           = tweet_object['user']['url']
                description           = tweet_object['user']['description']
                protected             = tweet_object['user']['protected']
                verified              = tweet_object['user']['verified']
                created_at            = str(pd.to_datetime(tweet_object['user']['created_at']))
                friends_count         = tweet_object['user']['friends_count']
                followers_count       = tweet_object['user']['followers_count']
                favorites_count       = tweet_object['user']['favourites_count']
                statuses_count        = tweet_object['user']['statuses_count']

                user_information = (user_id, user_screen_name, user_name,\
                       user_language, location, profile_url,\
                       description, protected, verified, created_at,\
                       friends_count, followers_count,\
                       favorites_count, statuses_count)
                self.cur.execute(" INSERT INTO user_info VALUES(?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?);", user_information)
            
            self.conn.commit()
        
    def on_data(self, data):
        self.current_time = datetime.now()
        time_elapsed = (self.current_time - self.start_time).total_seconds()
        if time_elapsed < self.listen_time:
            try:
                self.counter += 1
                """
                Changing the code here.
                Previously, we saved to Text file.
                Now, we will pass this to the Database insertor method.
                """
                # -- self.output_file.write(str(data))
                print(f"Tweet Processed: {self.counter}\n")
                self.insert_data(str(data))
                
            except Exception as e:
                print(f"On data Exception:{e}.")
        else:
            print(f"Stream listen time period ended. Total listen time: {self.listen_time} seconds.\n\n")
            print(f"Total Tweet processed: {self.counter}")
            self.conn.close()
            return False

    # handling Errors
    def on_error(self, status_code):
        print(f"status_code: {status_code}")
        if status_code == 420:
            #returning False in on_error disconnects the stream
            return False

# create a stream

In [52]:
myStreamListener = MyStreamListener(listen_time=30)
myStream = tweepy.Stream(api.auth, myStreamListener)

Initialized Tweepy StreamListener.

# start the streamer

In [53]:
keywords = ['ida']
try:
    print("Stream Filter")
    myStream.filter(track=keywords)
    print("DONE")
except Exception as e:
    print(f"error in stream filter {e}")

Stream Filter
Tweet Processed: 1

Tweet Processed: 2

Tweet Processed: 3

Tweet Processed: 4

Tweet Processed: 5

Tweet Processed: 6

Tweet Processed: 7

Tweet Processed: 8

Tweet Processed: 9

Tweet Processed: 10

Tweet Processed: 11

Tweet Processed: 12

Tweet Processed: 13

Tweet Processed: 14

Tweet Processed: 15

Tweet Processed: 16

Tweet Processed: 17

Tweet Processed: 18

Tweet Processed: 19

Stream listen time period ended. Total listen time: 30 seconds.


Total Tweet processed: 19
DONE

# fetch a single entry from the database

In [54]:
# establish database connection
conn = sqlite3.connect('tweet_example.db')
# get the cursor object
cur  = conn.cursor()

# execute the query 
cur.execute("SELECT * FROM tweet_info")
# fetch result
tweet_info_single_result = cur.fetchone()
print(tweet_info_single_result)

print("\n\n")
# execute thre query
cur.execute("SELECT * FROM user_info")
# # fetchr result
user_info_single_result = cur.fetchone()
print(user_info_single_result)

(1435987801779101697, 104854735, 'en', '2021-09-09 15:25:45+00:00', '<a href="https://space.sprinklr.com" rel="nofollow">Sprinklr - Entergy</a>', 'As of today, Orleans Parish is 98% restored after 10 days of restoration work in the wake of #Ida. 682,000 of the 9‚Ä¶ https://t.co/YxK0BhrC4e', '0', 0, 0, 0, 'Ida', 'https://t.co/YxK0BhrC4e', 'https://twitter.com/i/web/status/1435987801779101697', '')



(104854735, 'EntergyNOLA', 'Entergy New Orleans', None, 'New Orleans', 'http://www.entergyneworleans.com', 'This page is monitored during business hours. For customer service, please call 1-800-368-3749. To report power outages & emergencies, 1-800-968-8243.', '0', '1', '2010-01-14 16:16:27+00:00', 155, 20093, 487, 6856)

# fetch all the entries from the database

In [55]:
cur.execute("SELECT * FROM tweet_info")
tweet_info_all_result = cur.fetchall()
print(f"No of tweet stored: {len(tweet_info_all_result)}\n")
print(tweet_info_all_result)

print("\n\n")

cur.execute("SELECT * FROM user_info")
user_info_all_result = cur.fetchall()
print(f"No of user info stored: {len(user_info_all_result)}\n")
print(user_info_all_result)

No of tweet stored: 19

[(1435987801779101697, 104854735, 'en', '2021-09-09 15:25:45+00:00', '<a href="https://space.sprinklr.com" rel="nofollow">Sprinklr - Entergy</a>', 'As of today, Orleans Parish is 98% restored after 10 days of restoration work in the wake of #Ida. 682,000 of the 9‚Ä¶ https://t.co/YxK0BhrC4e', '0', 0, 0, 0, 'Ida', 'https://t.co/YxK0BhrC4e', 'https://twitter.com/i/web/status/1435987801779101697', ''), (1435987802462818312, 533604777, 'pt', '2021-09-09 15:25:46+00:00', '<a href="http://twitter.com/download/android" rel="nofollow">Twitter for Android</a>', 'RT @Flamengo: Amanh√£ tem Meng√£o na semifinal do Carioca Sub-20 (jogo de ida)! \n\nBotafogo x Flamengo, no Cefat! \n\nA FlaTV transmite ao vivo‚Ä¶', '0', 0, 0, 0, '', '', '', '59591856'), (1435987805730217993, 1548952142, 'en', '2021-09-09 15:25:46+00:00', '<a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>', 'Could use a little extra after Hurricane Ida Amanda-Lindsley', '0', 0, 0, 0, '', '', '', ''), (1435987805394640897, 311804569, 'en', '2021-09-09 15:25:46+00:00', '<a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>', 'Post-Ida, lots of patients required special medical needs. Here are some our residents working with attendings Dr.‚Ä¶ https://t.co/AgeYzyJVs5', '0', 0, 0, 0, '', 'https://t.co/AgeYzyJVs5', 'https://twitter.com/i/web/status/1435987805394640897', ''), (1435987811409272832, 1337899476703383557, 'no', '2021-09-09 15:25:48+00:00', '<a href="http://twitter.com/#!/download/ipad" rel="nofollow">Twitter for iPad</a>', 'J√¶vla bra sagt @ErikFollestad', '0', 0, 0, 0, '', '', '', '463261755'), (1435987811950342152, 1349793788668096514, 'en', '2021-09-09 15:25:48+00:00', '<a href="http://twitter.com/download/android" rel="nofollow">Twitter for Android</a>', 'RT @joshnsanchez: People in Louisiana scooping up everything BUT Anthony Davis Ruffles üíÄüòÇ #ida https://t.co/0gUfmOMuRS', '0', 0, 0, 0, 'ida', '', '', '885263698000052224'), (1435987812269101060, 3095182126, 'pt', '2021-09-09 15:25:48+00:00', '<a href="http://twitter.com/download/android" rel="nofollow">Twitter for Android</a>', 'RT @tuitamad: o bil vai entrar na fazenda pra formar casal e garantir o power couple ai vai terminar no power couple pra garantir a ida pro‚Ä¶', '0', 0, 0, 0, '', '', '', '1336392384452636675'), (1435987816438280196, 1317142617373671425, 'en', '2021-09-09 15:25:49+00:00', '<a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>', "I'm raising money for Hurricane IDA. Click to Donate https://t.co/9xpUO3hD0N", '0', 0, 0, 0, '', 'https://t.co/9xpUO3hD0N', 'https://gofund.me/71a1bcaf', ''), (1435987821068791813, 14074515, 'en', '2021-09-09 15:25:50+00:00', '<a href="https://mobile.twitter.com" rel="nofollow">Twitter Web App</a>', 'RT @femaregion2: If you suffered losses from #Ida and live in disaster-declared counties or boroughs, apply to @FEMA for disaster assistanc‚Ä¶', '0', 0, 0, 0, 'Ida', '', '', '18486586,16669075'), (1435987825342795776, 1336722096618090501, 'es', '2021-09-09 15:25:51+00:00', '<a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>', 'PREMIO! Te has ganado boleto de ida al paro, por retrasada', '0', 0, 0, 0, '', '', '', ''), (1435987837346885633, 221410697, 'en', '2021-09-09 15:25:54+00:00', '<a href="http://twitter.com/download/android" rel="nofollow">Twitter for Android</a>', 'RT @AdamSchefter: Saints‚Äô All-Pro DE Cam Jordan is donating $40,000 to Second Harvest Food Bank to help with Hurricane Ida Relief. He‚Äôs als‚Ä¶', '0', 0, 0, 0, '', '', '', '51263592'), (1435987841222418434, 450203723, 'pt', '2021-09-09 15:25:55+00:00', '<a href="http://twitter.com/download/android" rel="nofollow">Twitter for Android</a>', 'RT @tuitamad: o bil vai entrar na fazenda pra formar casal e garantir o power couple ai vai terminar no power couple pra garantir a ida pro‚Ä¶', '0', 0, 0, 0, '', '', '', '1336392384452636675'), (1435987848566657030, 1181029367578845184, 'pt', '2021-09-09 15:25:57+00:00', '<a href="http://twitter.com/download/android" rel="nofollow">Twitter for Android</a>', 'RT @tuitamad: o bil vai entrar na fazenda pra formar casal e garantir o power couple ai vai terminar no power couple pra garantir a ida pro‚Ä¶', '0', 0, 0, 0, '', '', '', '1336392384452636675'), (1435987858985299973, 73229753, 'pt', '2021-09-09 15:25:59+00:00', '<a href="http://twitter.com/download/android" rel="nofollow">Twitter for Android</a>', 'capitalismo √© t√£o fudido que at√© indo para uma consulta m√©dica, eu fico sentindo que estou fazendo algo errado/aind‚Ä¶ https://t.co/1ptVaNpC3E', '0', 0, 0, 0, '', 'https://t.co/1ptVaNpC3E', 'https://twitter.com/i/web/status/1435987858985299973', ''), (1435987863603191808, 146234560, 'en', '2021-09-09 15:26:00+00:00', '<a href="https://onloft.com/tweetlogix" rel="nofollow">Tweetlogix</a>', "RT @ckm_news: These Louisiana game devs are using a video game bundle to raise money for Hurricane Ida relief. \n\nSo far, they've raised mor‚Ä¶", '0', 0, 0, 0, '', '', '', '700792673687343105'), (1435987864496529412, 2863839994, 'pt', '2021-09-09 15:26:00+00:00', '<a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>', 'RT @tuitamad: o bil vai entrar na fazenda pra formar casal e garantir o power couple ai vai terminar no power couple pra garantir a ida pro‚Ä¶', '0', 0, 0, 0, '', '', '', '1336392384452636675'), (1435987871006081027, 1169630205540995072, 'en', '2021-09-09 15:26:02+00:00', '<a href="https://mobile.twitter.com" rel="nofollow">Twitter Web App</a>', 'What a great way to grab some games from local developers and support #HurricaneIda relief', '0', 0, 0, 0, 'HurricaneIda', '', '', ''), (1435987875561029633, 3619536852, 'en', '2021-09-09 15:26:03+00:00', '<a href="http://twitter.com/download/android" rel="nofollow">Twitter for Android</a>', "RT @appleciderwitch: WE'RE BACK!* #hotgamercollective\n\n*For A Little Tiny Mini-Raiser, to Help Hurricane Ida Relief and Abortion Funds, thi‚Ä¶", '0', 0, 0, 0, 'hotgamercollective', '', '', '185844792'), (1435987875762421765, 27649623, 'en', '2021-09-09 15:26:03+00:00', '<a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>', 'RT @GDuBoisWing: What a great story about how the inspirational @SteveGleason, his wife Michel &amp; son Rivers offered hope to community membe‚Ä¶', '0', 0, 0, 0, '', '', '', '3428685561,376499282')]



No of user info stored: 19

[(104854735, 'EntergyNOLA', 'Entergy New Orleans', None, 'New Orleans', 'http://www.entergyneworleans.com', 'This page is monitored during business hours. For customer service, please call 1-800-368-3749. To report power outages & emergencies, 1-800-968-8243.', '0', '1', '2010-01-14 16:16:27+00:00', 155, 20093, 487, 6856), (533604777, 'vgsa_', 'N√äSSA ARA√öJO', None, '22/05', None, 'O SENHOR, ele √© FLAMENGO e FLAMENGO eu tamb√©m sou. Ele √© da RA√áA, eu tamb√©m sou, da RA√áA do MENGO!!!!!!!', '0', '0', '2012-03-22 21:22:07+00:00', 1717, 1294, 210, 883120), (1548952142, 'Amanda_Show47', 'Anxiety Pumpkin Spice Latte', None, None, None, '|Digital Media Producer| Kinesiologist turned digital media producer. Forever LSU', '0', '0', '2013-06-26 19:39:57+00:00', 657, 217, 8347, 13887), (311804569, 'NOLA_EM', 'NOLA EM Residency', None, 'New Orleans, LA', 'http://www.NOLAEM.com/', 'The official Twitter for the LSU Spirit of Charity Emergency Medicine Residency Program in #NewOrleans | Pride. Excellence. Experience. ‚öúÔ∏è', '0', '0', '2011-06-06 02:53:06+00:00', 200, 983, 191, 1078), (1337899476703383557, 'Chilly_CFC', 'Chillyüá≥üá¥üíô', None, 'Norge', None, 'Chelsea | Norway | N‚Äôgolo Kant√© | Eminem | Marvel', '0', '0', '2020-12-12 23:18:19+00:00', 128, 33, 1470, 963), (1349793788668096514, 'PamelaC80125844', 'Pamela Currie', None, 'Brooklyn, NY', None, None, '0', '0', '2021-01-14 19:01:42+00:00', 2206, 170, 2792, 1179), (3095182126, 'LariLaufeyson', 'ùìõùì™ùìªùì≤ ‡•™üìö||Block de SDV', None, 'S√£o Paulo, Brasil', None, '‚Ä¢ The sun will shine on us again ‡•™\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n‚Äì Loki ‡•™', '0', '0', '2015-03-18 18:34:28+00:00', 4971, 1267, 109877, 5933), (1317142617373671425, 'CharlesCesareo3', 'Charles Cesareo', None, None, None, 'Rock and Roll music lover/NY Mets and Islanders Fan', '0', '0', '2020-10-16 16:37:51+00:00', 8, 0, 0, 18), (14074515, 'USAGov', 'USAGov', None, 'Washington, DC', 'http://USA.gov', "We help you discover official U.S. government information and services on the Internet. Retweets or follows don't equal endorsement.", '0', '1', '2008-03-03 21:06:45+00:00', 1141, 346310, 7054, 24287), (1336722096618090501, 'raulbrown92', 'üêç ÿ±ÿßÿ§ŸàŸÑ', None, 'ÿßŸÜÿß ÿßÿ≠ÿ®ŸÉ', None, '#blacklivesmatters ‚úäüèº‚úäüèΩ‚úäüèæ‚úäüèø', '0', '0', '2020-12-09 17:19:28+00:00', 115, 68, 4641, 3555), (221410697, 'buck_mitchell', 'Rhys Knott', None, 'UK', 'http://www.instagram.com/shuta_bug', "'sort of OK, I guess' - some people\n'never heard of him' - most people\n\n\nApplied Sport Science grad muttering about üèâ or üèà, ‚öΩ, ‚öæ, üèíü•Ö, ‚õ≥üèåÔ∏è, üèÇüèø ‚ù§Ô∏è music", '0', '0', '2010-11-30 16:02:58+00:00', 4985, 1060, 113364, 134688), (450203723, 'Deisielly_', 'Deisielly', None, 'Brasil', None, None, '0', '0', '2011-12-30 00:26:42+00:00', 66, 3652, 82, 303809), (1181029367578845184, 'thxlysoon', 'ùóΩùóÆùòÅùòÜùó¥ùó∂ùóøùóπ', None, 'chernobyl', 'https://instagram.com/thxlyson', 'comigo quem quiser, contra mim quem puder', '0', '0', '2019-10-07 02:12:09+00:00', 835, 1284, 107260, 44665), (73229753, 'potarcio', 'tarcin xcx', None, 'Salvador', 'http://instagram.com/tarci.o', 'directed by mike flanagan\n\nele/ele/qualquer pronome\n\nüåª @abstruir', '0', '0', '2009-09-10 21:47:34+00:00', 1614, 1170, 39123, 26136), (146234560, 'Carmen_Rox', 'ùìíarmen ùì¢andiego', None, 'E-City ‚öúÔ∏è', None, None, '0', '0', '2010-05-20 23:06:44+00:00', 251, 542, 522, 62634), (2863839994, 'fifthasqueen', 'Jacke', None, 'Curitiba', None, '[fan account]', '0', '0', '2014-11-06 13:31:09+00:00', 348, 3601, 5990, 102635), (1169630205540995072, 'Pelicans_tech', 'Pelican Center for Technology and Innovation', None, 'New Orleans ', 'https://pelicaninstitute.org/issues/technology-innovation/', 'Committed to promoting technology and innovation in the Pelican State.', '0', '0', '2019-09-05 15:15:53+00:00', 3031, 1156, 810, 967), (3619536852, 'clown_depot', 'The Guy With The Most Internet Points', None, 'Kyoto, Japan', 'https://www.twitch.tv/clown_depot/', 'chase from online „Éº im just here to have a good time. „Éº Co-creator of ClownHouse Streaming Group „Éº pfp by @riverg00', '0', '0', '2015-09-19 20:41:06+00:00', 427, 24799, 39981, 12863), (27649623, 'MarcJSpears', 'Marc J. Spears', None, 'Oakland, CA', 'http://theundefeated.com', 'Senior NBA writer for ESPN‚Äôs The Undefeated. Co-author of The Spencer Haywood Rule. Host of Beyond28 Podcast. LSU Masters, San Jose State BA, Foothill AA. NABJ.', '0', '1', '2009-03-30 14:48:43+00:00', 998, 541388, 36290, 37368)]

# how to get the column names of the returned database table
We can access the column names through the cursor description

In [56]:
user_info_column_names = [description[0] for description in cur.description]
print(f"user_info_column_names: {user_info_column_names}")

user_info_column_names: ['user_id', 'user_screen_name', 'user_name', 'user_language', 'location', 'profile_url', 'description', 'protected', 'verified', 'created_at', 'friends_count', 'followers_count', 'favorites_count', 'statuses_count']

# fetch the data into a pandas dataframe

In [58]:
cur.execute("SELECT * FROM tweet_info")
tweet_info_all_result = cur.fetchall()
tweet_info_column_names = [description[0] for description in cur.description]
tweet_info_dataframe = pd.DataFrame(tweet_info_all_result, \
                                   columns=tweet_info_column_names)
print(f"No of tweet stored: {len(tweet_info_all_result)}, {tweet_info_dataframe.shape[0]}\n")



cur.execute("SELECT * FROM user_info")
user_info_all_result = cur.fetchall()
user_info_column_names = [description[0] for description in cur.description]
user_info_dataframe = pd.DataFrame(user_info_all_result, \
                                   columns=user_info_column_names)
print(f"No of user info stored: {len(user_info_all_result)}, {user_info_dataframe.shape[0]}\n")

No of tweet stored: 19, 19

No of user info stored: 19, 19

In [ ]:
tweet_info_dataframe.head()

In [ ]:
user_info_dataframe.head()

# fetch data for a few selected columns from the database

In [60]:
# execute the query
cur.execute("SELECT user_id, user_screen_name, \
                    friends_count, followers_count,\
                    favorites_count, statuses_count \
                    FROM user_info")
# fetch the result
user_info_selected_result = cur.fetchall()
# fetch the column names
user_info_selected_column_names = [description[0] for description in cur.description]
print(user_info_selected_column_names)
# create a dataframe from the fetched dataset
user_info_selected_dataframe = pd.DataFrame(user_info_selected_result, \
                                   columns=user_info_selected_column_names)

['user_id', 'user_screen_name', 'friends_count', 'followers_count', 'favorites_count', 'statuses_count']

In [61]:
# show some results from the dataframe
user_info_selected_dataframe.head()

,user_id,user_screen_name,friends_count,followers_count,favorites_count,statuses_count
0,104854735,EntergyNOLA,155,20093,487,6856
1,533604777,vgsa_,1717,1294,210,883120
2,1548952142,Amanda_Show47,657,217,8347,13887
3,311804569,NOLA_EM,200,983,191,1078
4,1337899476703383557,Chilly_CFC,128,33,1470,963

# fetch filtered entries from the database

In [ ]:
# we are fetching users who have a follower count > 10
cur.execute("SELECT user_id, followers_count, \
                    WHERE followers_count>10 \
                    FROM user_info")
user_info_filtered_result = cur.fetchall()
print(f"Returned entries: {len(user_info_filtered_result)}")
user_info_filtered_column_names = [description[0] for description in cur.description]
user_info_filtered_dataframe = pd.DataFrame(user_info_filtered_result, \
                                   columns=user_info_filtered_column_names)
print(f"# rows user_info_filtered_dataframe: {user_info_filtered_dataframe.shape[0]}")

In [ ]:
user_info_filtered_dataframe.head()

# close the database connection

In [52]:
conn.close()